<% include partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>This is the Gallery page</h1>
            <p>Will fill up with text here later</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/gallery/new">Add new Gallery</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% gallery.forEach(function(gallery){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= gallery.image %>">
                    <div class="caption">
                        <h4><%= gallery.name %></h4>
                    </div>
                </div>
            </div>
        <% }) %>
     </div>

</div>

<% include partials/footer %>
